body {
    margin: 0;
    background-color:rgb(34, 34, 34);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    overflow-x: hidden;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;

    display: flex;
    min-height: 70px;
    justify-content:space-between;
    background-color: transparent;
    align-items: center;
    padding: 0.5rem;
    
}

header nav{
    backdrop-filter: blur(4px);

}


header nav a{
    color: rgb(165, 157, 149);

}

#logo{
    display: flex;
    align-items: center;
    padding-left:2.2rem;
}

#logo img{
    opacity: 0;

}
header nav {
    padding-right: 2rem;
}

header nav a{
    padding: 0 2rem;
    text-decoration: none;
}


.inicio{
    padding-top: 5rem;
    min-height: 90vh;
    background-image: url(https://s.marketwatch.com/public/resources/images/MW-EP351_london_ZG_20160614201905.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inicio div{
    backdrop-filter: blur(5px);
    width: 100%;
    color: rgb(245, 245, 241);


}

.inicio h1 p {
    text-decoration: none;
}

.inicio p{
    text-align: center;
    text-shadow: black 1px 0px 1px;
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
    font-weight: 300;

}
.inicio h1{
    text-align: center;
    text-shadow: black 1px 0px 2px;
    font-weight: 200;

    font-size: 2.5rem;
    padding-top: 0.5rem;
}
/* POSTS */
.cuerpo{
    padding: 5rem 0 0 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    min-height: 90vh;

}

.post{
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem 2rem 0rem;
    min-height: 82vh;
}

.cuerpo div p {
    color: rgb(232, 232, 232);
    font-weight: 300;
    text-align: justify;    
    padding: 0.7rem;
    padding-left: 0rem;
    padding-right: 0;
}

.derecha ul {
    color: rgb(232, 232, 232);
    font-weight: 300;
    text-align: justify;  
    padding: 0.7rem; 
}

.derecha ul li{
    padding: 0.7rem;
}

.cuerpo h1{
    color: rgb(232, 232, 232);
    font-weight: 300;


}

.post.izquierda{
    background-color: rgb(165, 157, 149);
    /*background-size: cover;
    background-repeat: no-repeat;*/
    width: 40%;
    margin-bottom: 5rem;
}
.izquierda img{
    width: 100%;
}

.imgcv{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    bottom: 0rem;


}

.derecha {
    width: 50%;
    flex-grow: 1;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 0;

}

.post{
    text-indent: 2rem;
}

.post.derecha a{
    text-decoration: none;
}

.izquierda {
    opacity: 0;
    filter:blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.derecha {
    opacity: 0;
    filter:blur(5px);
    transform: translateX(+100%);
    transition: all 2s;
}

.derecha:nth-child(2){
    transition-delay: 600ms;;
}
.show{
    opacity: 1;
    filter:blur(0);
    transform: translateX(0)
}



/* TIMELINE */
*{
    margin: 0;
    padding: 0;
}
.timeline {
display: flex;
margin: 0 auto;
flex-wrap: wrap;
flex-direction: column;
max-width: 700px;
position: relative;
}
.timeline__content-title {
font-weight: normal;
font-size: 66px;
margin: -10px 0 0 0;
transition: 0.4s;
padding: 0 10px;
box-sizing: border-box;
color: #fff;
font-family: 'Open Sans', sans-serif;
}
.timeline__content-desc {
margin: 0;
font-size: 15px;
box-sizing: border-box;
color: rgba(255, 255, 255, .7);
font-family: 'Open Sans', sans-serif;
font-weight: normal;
line-height: 25px;
text-align: justify;
}
.timeline:before {
position: absolute;
left: 50%;
width: 2px;
height: 100%;
margin-left: -1px;
content: "";
background: rgba(255, 255, 255, .07);
}
@media only screen and (max-width: 767px) {
.timeline:before {
left: 40px;
}
}
.timeline-item {
padding: 40px 0;
opacity: 0.3;
filter: blur(2px);
transition: 0.5s;
box-sizing: border-box;
width: calc(50% - 40px);
display: flex;
position: relative;
transform: translateY(-80px);
}
.timeline-item:before {
content: attr(data-text);
letter-spacing: 3px;
width: 100%;
position: absolute;
color: rgba(255, 255, 255, .5);
font-size: 13px;
font-family: 'Open Sans', sans-serif;
border-left: 2px solid rgba(255, 255, 255, .5);
top: 70%;
margin-top: -5px;
padding-left: 15px;
opacity: 0;
right: calc(-100% - 56px);
}
.timeline-item:nth-child(even) {
align-self: flex-end;
}
.timeline-item:nth-child(even):before {
right: auto;
text-align: right;
left: calc(-100% - 56px);
padding-left: 0;
border-left: none;
border-right: 2px solid rgba(255, 255, 255, .5);
padding-right: 15px;
}
.timeline-item--active {
opacity: 1;
transform: translateY(0);
filter: blur(0px);
}
.timeline-item--active:before {
top: 50%;
transition: 0.3s all 0.2s;
opacity: 1;
}
.timeline-item--active .timeline__content-title {
margin: -50px 0 20px 0;
}
@media only screen and (max-width: 767px) {
.timeline-item {
align-self: baseline !important;
width: 100%;
padding: 0 30px 150px 80px;
}
.timeline-item:before {
left: 10px !important;
padding: 0 !important;
top: 50px;
text-align: center !important;
width: 60px;
border: none !important;
}
.timeline-item:last-child {
padding-bottom: 40px;
}
}
.timeline__img {
max-width: 100%;
box-shadow: 0 10px 15px rgba(0, 0, 0, .4);
}
.timeline-container {
width: 100%;
position: relative;
padding: 80px 0;
transition: 0.3s ease 0s;
background-attachment: fixed;
background-size: cover;
}
.timeline-container:before {
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.6);
content: "";
}
.timeline-header {
width: 100%;
text-align: center;
margin-bottom: 80px;
position: relative;
}
.timeline-header__title {
color: #fff;
font-size: 58px;
font-family: 'Open Sans', sans-serif;
font-weight: normal;
margin: 0;
}
.timeline-header__subtitle {
color: rgba(255, 255, 255, .6);
font-family: 'Open Sans', sans-serif;
font-size: 16px;
letter-spacing: 5px;
margin: 10px 0 0 0;
font-weight: normal;
}

.timeline-header__subtitle{
    font-style: italic;
}



.demo-footer {
padding: 60px 0;
text-align: center;
}
.demo-footer a {
color: #999;
display: inline-block;
font-family: 'Open Sans', sans-serif;
}

/*ACTIVITIES*/

.activities {
    display: flex;
}

.activities1 {
    display: flex;
    width: 33%;
    height: 5rem;
    background-color: rgb(232, 232, 232);
    padding: 1rem;
}

.activities2{
    display: flex;
    width: 33%;
    height: 5rem;
    padding: 1rem;
    background-color: rgb(232, 232, 232);
   /* background-color: rgb(102, 102, 102);*/


}

.activities3{
    display: flex;
    width: 33%;
    height: 5rem;
    padding: 1rem;
    background-color: rgb(232, 232, 232);

}

.activities1 img{
    width: 55%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.activities2 h1{
    color:rgb(34, 34, 34);
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
}

.activities3 img{
    width: 55%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;

}

.activitiestxt1{
    display: flex;
    width: 33%;
    height: 12rem;
    background-color: rgb(232, 232, 232);
    padding: 1rem;
    align-items: center;
    padding-top: 0.5;

}

.activitiestxt2{
    display: flex;
    width: 33%;
    height: 12rem;
    background-color: rgb(232, 232, 232);
    padding: 1rem;
    align-items: center;
    padding-top: 0.5;


}

.activitiestxt3{
    display: flex;
    width: 33%;
    height: 12rem;
    background-color: rgb(232, 232, 232);
    padding: 1rem;
    align-items: center;
    padding-top: 0.5;


}

.activities p{
    color:rgb(34, 34, 34);
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
    text-align: center;
    font-weight: 300;
    font-size: 1.2rem;
}




/*INTERESTS*/

.interests{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(165, 157, 149);
    background-color: rgb(34, 34, 34);

}

.interests2{
    display: flex;
}


.interests div h1 {
    text-decoration: none;
    text-align: center;
    text-shadow: black 1px 0px 2px;
    font-weight: 300;

    font-size: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.interestsimg1{
    width: 33%;
    height: 400px;
    /*margin: 0 auto;
    margin-top: 50px;*/
    background-image: url("../Fotos/librosbn2.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    padding: 1rem;

}

.interestsimg1::before{
content:"READING";
backdrop-filter: blur(2px);
display: block;
text-align: center;
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
text-decoration: none;
font-weight: 300;
font-size: 3.1rem;
color: rgb(37, 36, 64);

}

.interestsimg1:hover::before{
    display: none;
}
.interestsimg1:hover::after{
    transform: translateY(0);
    display: inline;
}
.interestsimg1::after{
    text-decoration: none;
    font-weight: 300;
    content:"Reading is one of my major pastimes, no matter what the genre. From the works of Benjamin Graham, who teaches us how to deal with Mr. Market, to the great stories of Tolkien's Middle Earth. This passion feeds my curiosity and increases my knowledge and critical perspective of my surroundings.";
    display: none;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    font-weight: 300;
    color:rgb(232, 232, 232);
    background-color: rgb(37, 36, 64, .7);
    position: absolute;
    padding: 1rem;
    inset: 0;
    display: grid;
    place-items: center;
    transform: translateY(100%);
    transition: transform .8s;
    padding-top: 4.5rem;
}

.interestsimg2{
    width: 33%;
    height: 400px;
    /*margin: 0 auto;
    margin-top: 50px;*/
    background-image: url("../Fotos/guitarbn.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    padding: 1rem;

}

.interestsimg2::before{
    content:"MUSIC";
    backdrop-filter: blur(2px);

    display: block;
    text-align: center;
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    text-decoration: none;
    font-weight: 300;
    font-size: 3.1rem;
    color: rgb(37, 36, 64);
    
    }

.interestsimg2:hover::before{
        display: none;
    }
    
.interestsimg2:hover::after{
    transform: translateY(0);
    display: inline;
}
.interestsimg2::after{
    content: "music";
    content: "After many years as a professional student of trombone and piano, and having previously learnt to play the drums, I am currently continuing to learn music in a self-taught way by playing the electric guitar, with the intention of maintaining the knowledge I have acquired and acquiring much more.";
    display: none;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    font-weight: 300;
    color:rgb(232, 232, 232);
    background-color: rgb(37, 36, 64, .7);
    position: absolute;
    padding: 1rem;
    inset: 0;
    display: grid;
    place-items: center;
    transform: translateY(100%);
    transition: transform .8s;
    padding-top: 4.5rem;
}

.interestsimg3{
    width: 33%;
    height: 400px;
    /*margin: 0 auto;
    margin-top: 50px;*/
    background-image: url("../Fotos/gymbn.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    padding: 1rem;

}

.interestsimg3::before{
    content:"GYM";
    backdrop-filter: blur(2px);
    display: block;
    text-align: center;
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    text-decoration: none;
    font-weight: 300;
    font-size: 3.1rem;
    color: rgb(37, 36, 64);
    
    }

.interestsimg3:hover::before{
        display: none;
    }
    
.interestsimg3:hover::after{
    transform: translateY(0);
    display: inline;
}
.interestsimg3::after{
    content:"While the gym is the place to do sport to maintain your fitness, for me it has been a pure injection of discipline and has led to better habits such as a better diet. Even though I now bench press 70kg, what I take away from it is the confidence and mental wellbeing it has given me and the better person it has made me!";
    display: none;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    font-weight: 300;
    color:rgb(232, 232, 232);
    background-color: rgb(37, 36, 64, .7);
    position: absolute;
    padding: 1rem;
    inset: 0;
    display: grid;
    place-items: center;
    transform: translateY(100%);
    transition: transform .8s;
    padding-top: 4.5rem;
}

footer {
    background-color: rgb(34, 34, 34 );
    padding: 3rem;
padding-right: 5rem;
padding-left: 5rem;

    color: rgb(153, 153, 153);
    font-weight: 300;
}

footer section {
    float: right;
}

footer section a{
    color: rgb(232, 232, 232);

}

footer section p{
    padding-top: 0.8rem;
    font-style: italic;
    
}
footer h1{
    font-weight: 300;
    padding-bottom: 0.8rem;
    color: rgb(232, 232, 232);

}
footer p {
    margin: 0;
}

footer a {
    transition: color 0.3s ease;
    color: rgb(153, 153, 153);
    text-decoration: none;
}

footer a:hover {
    color: cornflowerblue;

}

footer #telefono {
    display: flex;
    padding-bottom: 0.8rem;
}

footer #telefono img{
    width: 1.3rem;
    padding-right: 0.8rem;

}

footer #gmail {
    display: flex;
}

footer #gmail img{
    width: 1.3rem;
    padding-right: 0.8rem;

}

.small-screen-message {
    display: none;
}

@media screen and (max-width: 1140px) {
    header {
        display: none;
    }
    .inicio {
        display: none;
    }
    .cuerpo {
        display: none;
    }

    .trayectoria {
        display: none;
    }
    .interests {
        display: none;
    }
    
    .activities {
        display: none;
    }
    .interests2 {
        display: none;
    }
    footer {
        display: none;
    }

    .small-screen-message {
        display: block;
    }
    body{
        text-decoration: none;
        text-align: center;
        background-color:rgb(34, 34, 34);
        font-weight: 300;
        color: rgb(232, 232, 232);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    }

}
